.footer {
  padding: 2rem 0;

  &__container {
    display: flex;
    justify-content: center;
  }
  
  &__img {
    width: 300px;
  }
}

@media(width <= 784px) {
  .footer__img {
    display: block;
    width: 50%;
    margin: 0 auto;
  }
}