@import 'fonts';
@import 'modules/reset';
@import 'modules/variables';
@import 'modules/progress-scale';
@import 'modules/header';
@import 'modules/about';
@import 'modules/symphony';
@import 'modules/slider';
@import 'modules/structure';
@import 'modules/footer';

body {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 2rem;
}

.description {
  margin-top: 2rem;
  text-align: justify;
  font-size: 1.5rem;
  opacity: 0;
  transform: scale(0.95);
  animation: emersion 1s forwards 1s ease-out;
}

.source {
  margin-top: 1rem;
}

@media(width <= 640px) {
  .container {
    padding: 0 0.8rem;
  }
  .title {
    font-size: 1.5rem;
  }
  .description {
    font-size: 1rem;
  }
}



