@import 'fonts';
@import 'modules/reset';
@import 'modules/variables';
@import 'modules/header';
@import 'modules/about';
@import 'modules/symphony';

body {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  //line-height: 1.5rem;
  //background-color: pink;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 2rem;
}

.description {
  text-align: justify;
  font-size: 1.5rem;
  opacity: 0;
  transform: scale(0.95);
  animation: emersion 1s forwards 1s ease-out;
}

.source {
  margin-top: 1rem;
}




